<!DOCTYPE html> 
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>İsim yok</title>
    <meta content="" property="og:title">
    <meta name="theme-color" content="#f3ae12">
    <meta content="Türkçe gelişmiş kontrol paneli discord botu bırakta  senin için yapsın hadi ne duruyorsun botu sende sunucuna ekle" property="og:description">
    <meta property="og:image" content=""/>
    <meta name="keywords" content="VAGGY,vaggy,V'AGGY bot,bot,discord,bot,vaggybot,türkçe discord botu,türkçe,türk botu,otomatik rol,müzik,eğlence">

    <link href="" rel="icon">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/custom.css"> 
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/loading.css"> 
    <link rel="stylesheet" href="/public/css/litera.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/public/js/loading.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/90eaeaf66d.js" crossorigin="anonymous"></script>
  </head>
  
  <body>
    <a name="top"></a>
    <nav class="navbar navbar-expand-lg navbar-dark" style="margin-bottom: 60px; background-color:#000">
      <button style="background-color:#fff" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbar01" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div style="background-color:#000" class="container">
        <a class="navbar-brand" href="/dashboard"><img src="" width="30" height="30" class="d-inline-block align-top rounded-circle"> Name</a>
        <div class="collapse navbar-collapse" id="navbar01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Boş</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Boş</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Boş</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Boş</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Boş</a></li>
         </ul>
</style>
      <ul class="navbar-nav">
        <a href="/dashboard" class="nav-link"><i class="fa fa-home"></i></a>
                <a href="https://discord.gg/MaapZw5YVC" target="_blank" class="nav-link"><i class="fa fa-video"></i></a>
                <a href="https://discord.gg/MaapZw5YVC" target="_blank" class="nav-link"><i class="fa fa-random"></i></a>
                <a href="https://steamcommunity.com/profiles/76561198388523389/" target="_blank" class="nav-link"><i class="fa fa-send"></i></a>
                <a href="https://www.youtube.com/channel/UC6dInyf4tt6oLirKaBXzjSg?view_as=subscriber" target="_blank" class="nav-link"><i class="fa fa-heart"></i></a> 
            <li class="dropdown">
            <a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://kstu.edu.tr/kstu-file/uploads/default-user-image.png" width="30" height="30" class="d-inline-block align-middle rounded-circle"></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="background-color:#000">
              <a class="dropdown-item" href="/profile" style="color:#fff"><i class="fa fa-user" aria-hidden="true"></i> - Profil</a>
              <a class="dropdown-item" href="/dashboard" style="color:#fff"><i class="fa fa-cog" aria-hidden="true"></i> - Ayarlar</a>
              <a class="dropdown-item" href="https://discord.gg/MaapZw5YVC" target="_blank" style="color:#fff"><i class="fa fa-support" aria-hidden="true"></i> - Destek</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout" style="color:#ff001f"><i class="fa fa-sign-out" aria-hidden="true"></i> - Çıkış Yap</a>      
 </div>
          </li>
        </ul>
      </div>
  </nav>
    
<div class="container">