<%- include ('./header') %>
<center>
    <div class="jumbotron" style="background-color: #171818">
		<img class="d-flex mr-3 rounded-circle" src="https://kstu.edu.tr/kstu-file/uploads/default-user-image.png" style="width: 150px; height: 150px;">      <h1 class="mt-5"><%= user.name %></h1><br>
		<div class="media-body">
      <h4>Merhaba beni takip edermisiniz <3 </h4>
      <br>
      <h4 class="text-warning" >Öptüm bay işimiz bitmiştir siktir olup gidebilirsin aşkım verilerin silincek .</h4>
        </div>
      <br>
      <a href="https://discord.gg/MaapZw5YVC" target="_blank" style="padding: 13px 13px;" class="btn btn-warning">Destek Al <i class="fa fa-fw fa-support"></i></a> 
		</div>
	</div>